body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-top: 120px;
}

#exploring {
    margin: 120px 50px;
}

#Students {
    margin: 120px 0px;
}

#companies {
    margin: 120px 0px;
}

footer {
    padding: 115px 0px;

}

.social-media {
    font-size: 25px;

}

.fa-brands {
    margin: 5px;
}